/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* START OF CSS -------------------------------------------------------------------------------------------------------------------------*/

:root {
  --black: #272727;
  --white: #ffff;
  --darkblue: #01131e;
  --red: #e2313a;

  --hFont: 2rem;
  --mFont: 1.3vw;
  --pFont: 1.1vw;

  --hFontFam: "Signika", sans-serif;
  --pFontFam: "Lato", sans-serif;
}

body {
  background-color: #375c74;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: aquire;
}

p {
  font-family: montserrat;
  font-size: 16px;
  color: var(--white);
  line-height: 1.2;
}
a {
  color: var(--white);
  text-decoration: none;
  text-decoration: underline;
}

.whatToDo {
  background-color: #e2313a;
}
.whatToDo li {
  color: var(--white);
  list-style: none;
  font-size: 20px;
  padding: 1rem 1rem 0 1rem;
    background-color: #e2313a;
    padding: 2rem;
}

.whatToDo p {
    font-size: 26px;
    padding-left: 1rem;
}
.whatToDo li {
    color: var(--white);
    list-style: none;
    font-size: 20px;
    padding: 1rem;
}

header {
  height: 6rem;
  background-color: black;
  border-bottom: 1px solid var(--red);
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.logo {
  place-self: center;
  font-size: 1.3rem;
  margin-left: 4rem;
  color: var(--white);
}

nav {
  place-self: center;
  margin-right: 4rem;
}

header nav ul {
  display: flex;
}
header nav ul li {
  padding: 0 2rem 0 2rem;
}

.indexMain {
  display: flex;
  justify-content: center;
  width: 65rem;
  margin: auto;
}

.indexSectionOne {
  padding: 1rem;
  width: 40rem;
}

.indexSectionOne h1 {
  font-size: 2rem;
  color: var(--red);
}
.introP {
  font-size: 20px;
  padding-top: 1rem;
}

.indexSectionTwo {
  display: flex;
  width: 30rem;
  justify-content: space-evenly;
}

.profileImage1 {
  width: 10rem;
  height: 10rem;
  box-shadow: 5px 5px #0f0e0e;
  background-color: #e2313a;
}
.profileImage2 {
  width: 10rem;
  height: 10rem;
  box-shadow: 5px 5px #0f0e0e;
  background-color: #e2313a;
}

/* testing */

nav a {
  --fill-color: #e2313a;
  font: 1.7rem Railway, sans-serif;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.2s linear;
}
a:hover {
  background-size: 100%;
}
